@charset "utf-8";
 

.newContentBox{float: left; width: 600px; height: 100px; text-align: left; vertical-align: top; position: relative}
.newContentBox a{cursor: pointer}
.newContentBox .newTitle{float: left; line-height: 44px; height: 50px; font-size: 16px; color: #333; width: 400px; white-space: nowrap; word-break: normal; overflow: hidden; text-overflow: ellipsis}
.newContentBox a:hover .newTitleIcon{background-color: #4a68ec}
.favoriteIcon{width: 19px; height: 19px; position: absolute; right: 0; top: 14px}
.newContentBox .border{position: absolute; left: 100px; top: 44px; width: 21px; border-top: 1px solid #4a68ec}
.newContentBox .newContent{float: left; height: 50px; width: 500px; font-size: 14px; line-height: 28px; color: #b0b0b0; margin-bottom: 50px; overflow: hidden; word-wrap: break-word; text-overflow: ellipsis; display: -webkit-box;}
.newContentBox .time{width: 70px; height: 60px; border: 1px solid #4a68ec; background: #fff; text-align: center; margin-right: 30px; margin-top: 14px; float: left}
.newContentBox .time .level{font-size: 20px; color: #4c67e8; padding: 0}
.newContentBox .time .date{font-size: 12px; color: #b3b9f5}
.newContentBox a:hover .time{background: #4a68ec}
.newContentBox a:hover .level{color: #fff}
.newContentBox a:hover .date{color: #b5bcf3}

.article-wrap {
	width:280px;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	padding-left:18px;
	border:1px solid #cccccc;
	
}
.article-wrap a{
	color:#000000;
	
}
.article-wrap a:hover {
  color: #0000FF ;
}
.article-wrap ul{
	margin:0px; padding:0px;
}

.article-wrap .item {
 	width: 220px;
  line-height: 26px;
}
